{% extends "base.html"%}

{% block title %}
    <title>Login</title>
{% endblock %}
{% block content %}
        
	    <div class="pen-title">
	      <h2>Login Form</h2>
	    </div>
	    <div class="module form-module">
	      <div>    
	      </div>
	      <div class="form">
		    <center><h2>Login to your account</h2></center>            
		    <form action="/auth/" method="POST">{% csrf_token %}
		      <input type="text" name="username" placeholder="Username"/>
		      <input type="password" name="password" placeholder="Password"/>
		     
		      <button>Login</button>
		    </form>
	      </div>   
	      {{message}}   
	    </div>
{% endblock %}	    
